:root {
    --col-primary-dark:   rgb(51, 58, 115);
    --col-primary:          rgb(56, 122, 223);
    --col-primary-light:    rgb(80, 196, 237);

    --col-secondary:    rgb(251, 168, 52);

    --col-neutral-light:    rgb(249, 249, 249);
    --col-neutral-mid:      rgb(204, 204, 204);
    --col-neutral-dark:     rgb(51, 51, 51);

    --col-highlight:        rgb(216, 17, 89);
}

* {outline: 1px solid red;}

body{
    background-color:var(--color-shade-5);
    font-family: consolas;
    margin: 0;
    display: flex;
}
