:root {
    --col-primary-dark:     rgb(72, 85, 181);
    --col-primary:          rgb(82, 151, 255);
    --col-primary-light:    rgb(156, 229, 255);

    --col-secondary:        rgb(247, 155, 26);

    --col-neutral-light:    rgb(255, 255, 255);
    --col-neutral-mid:      rgb(234, 234, 234);
    --col-neutral-dark:     rgb(51, 51, 51);

    --col-highlight:        rgb(216, 17, 89);
}



/* For debugging */
/* * {outline: 1px solid red;} */

body{
    background-color:var(--color-shade-5);
    font-family: consolas;
    margin: 0;
    display: flex;
}
