.body-extra { /* adjust from body to body-extra to work with other pages lmk if it breaks stuff sorry */
    width: calc(100vw - var(--sidebar-width-closed));
    height: 100vh;
    margin-left: var(--sidebar-width-closed);

    padding: 0;
    background-color:white;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color:#04AA6D;
    color: white;
    padding: 20px 10px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 1.8em;
}

header p {
    font-size: 1em;
    margin-top: 5px;
}



  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }

    .centered-container {
        width: 90%;
        margin: 10px 0;
    }

    #calories-table {
        width: 100%;
    }

    canvas {
        width: 100%; 
    }
}


