/* main css for the page*/
.body-extra { /* adjust from body to body-extra to work with other pages lmk if it breaks stuff */
    width: calc(100vw - var(--sidebar-width-closed));
    height: 100vh;
    margin-left: var(--sidebar-width-closed);

    color: var(--col-primary);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* to align thigs in the centre of the page */
}

/* for the inputt able */
.childmeasurement-box {
    margin: 21px;
    width: 95%;
    max-width: 450px;
    text-align: center;
}

/* for the inpuut boxes */
.childmeasurement-box input {
    display: block;
    margin: 11px 0; /* for the space between boxes */
    padding: 10px;
    width: 90%;
    border: 0.5px solid #373737;
    border-radius: 8px;
    font-size: 16px;
}







