.body-extra { /* adjust from body to body-extra to work with other pages lmk if it breaks stuff sorry */
    width: calc(100vw - var(--sidebar-width-closed));
    height: calc(100vh - 40px);
    margin-left: var(--sidebar-width-closed);

    background-color: var(--col-neutral-mid);

    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 150px 1fr 150px;
    gap: 20px;
    padding:20px
}

.section-top {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: var(--col-neutral-light);
    border-radius: 20px;
}

.section-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: var(--col-neutral-light);
    border-radius: 20px;
    padding:20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 160px 200px 1fr;
    gap:20px;
}

.user-name{
    margin:0px;
    text-align: center;
    font-size: 25px;
}

.user-icon {
    box-sizing: border-box;
    border: 5px solid white;
    outline: 5px solid var(--col-primary);
    border-radius: 100px;
    width: 100%;
    height: auto;
}

.list-children {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    max-height: 400px;
}

.list-child {
    background-color: green;
    height: 50px;
}

/* CSS to hide scrollbar on various browsers */
.list-children{-ms-overflow-style: none;  scrollbar-width: none;} /* Explorer 10+ */  /* Firefox */
.list-children::-webkit-scrollbar {display: none;} /* Safari & Chrome */



.section-main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /*
    background-color: var(--col-neutral-light);
    border-radius: 40px; */

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:20px;
}

.recent-updates{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: var(--col-neutral-light);
    border-radius: 20px;
}

.section-bottom{
    background-color: var(--col-neutral-light);
    border-radius: 20px;
}