.navbar{
    position: fixed;

    bottom: 0px;
    left:0;
    height:50px;
    background-color:var(--col-primary);
    width:100%;
}

.navbar #active {
    color: var(--col-neutral-light);
    text-decoration: underline;
    text-underline-offset: 6px;
}
.navbar #inactive{
    color: var(--col-primary-light);
    text-decoration: none;
}

.navbar a{
    float: right;
    align-content: center;
    height: 100%;
    padding: 0px 0px;
    margin : 0px 20px;
    transition-property: padding, margin, filter;
    transition-duration: 0.2s;

    background-color: var(--col-primary);
}

.navbar a:hover{
    padding: 0px 20px;
    margin : 0px 0px;
    filter: brightness(90%);
}

.navbar .navbar-split{
    float: left;
}
