{% extends "base.html" %}
{% load static %}

{% block headExtra %}
    <link rel="stylesheet" href="{% static 'css/shared.css' %}" type="text/css">
    <title>Add Child</title>
{% endblock headExtra %}


{% block bodyExtra %}
    <main>
        <img class="pageLogo" src="{% static 'icons/LogoHeavy.svg' %}" alt="logo"/>
        <h2>Import Child</h2>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Add Child</button>
        </form>
        <a class="button" href="{% url 'dashboard' %}">Dashboard</a>
    </main>
{% endblock bodyExtra %}
