{% extends "base.html" %}
{% load static %}

{% block headSidebar %}
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" type= "text/css"/>
  <script src="{% static 'js/sidebar.js' %}" defer></script>
{% endblock headSidebar %}

{% block headExtra %}
{% endblock headExtra %}

{% block bodyExtra %}
{% endblock bodyExtra %}

{% block bodySidebar %}
  <div class="sidebar" id="sidebar">
    <ul class="menu">

        <a class="menu-item">
            <i class="fa fa-bars"></i>
            <span class="menu-text">Chawts</span>
        </a>

        <hr class="menu-separator">

        <a class="menu-item" href="{% url 'dashboard' %}"
        {% if request.path == '/dashboard/' %} id ="active" {% else %} id = inactive {% endif %}>
          <i class="fa-solid fa-home"></i>
          <span class="menu-text">Dashboard</span>
        </a>
        <a class="menu-item" href="{% url 'settings' %}"
        {% if request.path == '/settings/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-cog"></i>
            <span class="menu-text">Settings</span>
        </a>
        {% comment %} <a class="menu-item" href="{% url 'dashboard' %}"
        {% if request.path == '/about/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <span class="menu-text">About</span>
        </a> {% endcomment %}

        <hr class="menu-separator">

        {% if selected_child  %}
        <a class="menu-item" href="{% url 'food' %}"
        {% if request.path == '/food/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-utensils" ></i>
            <span class="menu-text">Food</span>
        </a>
        {% comment %} <a class="menu-item" href="{% url 'diaper' %}"
        {% if request.path == '/diaper/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-toilet-paper"></i>
            <span class="menu-text">Diaper</span>
        </a> {% endcomment %}
        {% comment %} <a class="menu-item" href="{% url 'medication' %}"
        {% if request.path == '/medication/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-pills"></i>
            <span class="menu-text">Medication</span>
        </a> {% endcomment %}
        <a class="menu-item" href="{% url 'growth' %}"
        {% if request.path == '/growth/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-chart-line"></i>
            <span class="menu-text">Growth</span>
        </a>
        <a class="menu-item" href="{% url 'sleep' %}"
        {% if request.path == '/sleep/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-bed"></i>
            <span class="menu-text">Sleep</span>
        </a>
        {% comment %} <a class="menu-item" href="{% url 'emotion' %}"
        {% if request.path == '/emotion/' %} id ="active" {% else %} id = inactive {% endif %}>
            <i class="fa-solid fa-face-laugh-beam"></i>
            <span class="menu-text">Emotion</span>
        </a> {% endcomment %}

        <hr class="menu-separator">
        {% else %}
        {% endif %}

        <div class="menu-bottom"">
            <hr class="menu-separator">

            {% if selected_child  %}
                <a class="menu-item" href="{% url 'dashboard' %}"
                {% if request.path == '/children/' %} id ="active" {% else %} id = inactive {% endif %}>
                    <i class="fa-solid fa-children"></i>
                    <span class="menu-text">{{ selected_child.firstName }}</span>
                </a>
            {% else %}
            {% endif %}


            {% if user.is_authenticated %}
            <a class="menu-item" href="{% url 'dashboard' %}" id = inactive>
                <i class="fa-solid fa-user"></i>
                <span class="menu-text">{{ user.username}}</span>
            </a>
            {% else %}
            <a class="menu-item" href="{% url 'login' %}" id = inactive>
                <i class="fa-solid fa-user"></i>
                <span class="menu-text">Login</span>
            </a>
            {% endif %}
        </div>

    </ul>
  </div>
{% endblock bodySidebar %}
