{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="{% static 'css/nav.css' %}" type= "text/css"/>

      {% block extra_links %}
      {% endblock %}

      <title>
        {% block title %}
        {% endblock title %}
      </title>
  </head>
  <body>
      <nav class="navbar">
          <a class="navbar-button" {% if request.path == '/food/' %}        id ="active" {% else %} id = inactive {% endif %} href="{% url 'food' %}">       food</a>
          <a class="navbar-button" {% if request.path == '/diaper/' %}      id ="active" {% else %} id = inactive {% endif %} href="{% url 'diaper' %}">     diaper</a>
          <a class="navbar-button" {% if request.path == '/medication/' %}  id ="active" {% else %} id = inactive {% endif %} href="{% url 'medication' %}"> medication</a>
          <a class="navbar-button" {% if request.path == '/home/' %}        id ="active" {% else %} id = inactive {% endif %} href="{% url 'home' %}">       home</a>
          <a class="navbar-button" {% if request.path == '/growth/' %}      id ="active" {% else %} id = inactive {% endif %} href="{% url 'growth' %}">     growth</a>
          <a class="navbar-button" {% if request.path == '/sleep/' %}       id ="active" {% else %} id = inactive {% endif %} href="{% url 'sleep' %}">      sleep</a>
          <a class="navbar-button" {% if request.path == '/emotion/' %}     id ="active" {% else %} id = inactive {% endif %} href="{% url 'emotion' %}">    emotion</a>
      </nav>

      {% block content %}
      {% endblock content %}
  </body>
</html>