{% comment %} icons :https://fontawesome.com/search? {% endcomment %}

<!DOCTYPE html>

<html lang="en">
  <head>
      <link rel="stylesheet" href="../static/css/nav.css" type= "text/css"/>
      {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" /> {% endcomment %}

      <title>
        {% block title %}
        {% endblock title %}
      </title>
  </head>
  <body>
      <nav class="navbar">
          <a class="navbar-button" id ="inactive" href="food.html">       food</a>
          <a class="navbar-button" id ="inactive" href="diaper.html">     diaper</a>
          <a class="navbar-button" id ="inactive" href="medication.html"> medication</a>
          <a class="navbar-button" id ="inactive" href="{% url 'home' %}">       home</a>
          <a class="navbar-button" id ="inactive" href="growth.html">     growth</a>
          <a class="navbar-button" id ="inactive" href="sleep.html">      sleep</a>
          <a class="navbar-button" id ="inactive" href="emotion.html">    emotion</a>
      </nav>

      {% block content %}
      {% endblock content %}
  </body>
</html>