{% extends "base-sidebar.html" %}
{% load static %}

{% block headExtra %}
    <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}" type="text/css">
    <title>Dashboard</title>
    <script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock headExtra %}

{% block bodyExtra %}
    <header>
        <img class="pageLogo" src="{% static 'icons/LogoHeavy.svg' %}" alt="logo"/>

        {% comment %} <p class="welcome-message">Welcome back {{ user.username|default:"Guest" }}</p> {% endcomment %}
        {% if user.is_authenticated %}
        <p class="welcomeMessage">Welcome Back {{ user.username }}!</p>
        {% else %}
        <p class="welcomeMessage">Hello Guest, Please Login</p>
        {% endif %}

        <section class="userInfo">
            {% if user.is_authenticated %}
            <form class="userAction" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
            <a class="userAction" href="{% url 'password_change' %}">Change PW</a>
            {% else %}
            <a class="userAction" href="{% url 'login' %}">Login</a>
            <a class="userAction" href="{% url 'sign_up' %}">Sign up</a>
            {% endif %}


            {% if user.profile.profile_picture %}
            <a class="userIcon" href="{% url 'changeProfile' %}">
                <img src="{{ user.profile.profile_picture.url }}">
            </a>
            {% else %}
            <a class="userIcon" href="{% url 'changeProfile' %}">
                <img class="userIcon" src="/static/images/default.jpg">
            </a>
            {% endif %}
        </section>
    </header>

    <main data_isAuthenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
        <section class="graphAreaFirst">
            <canvas class="pieChart" id="pieChart"></canvas>
        </section>
        <section class="graphAreaSecond">
            <canvas class="barChart" id="barChart"></canvas>
        </section>

        <script src="{% static 'js/dashboard.js' %}"></script>

        {% if user.is_authenticated %}
        <script>
            window.isAuthenticated = true;
            window.childNames = {{ child_names|safe }};
            window.dataLogsPerChild = {{ data_logs_per_child|safe }};
            window.logCategories = {{ log_categories|safe }};
            window.logCategoryCounts = {{ log_category_counts|safe }};
        </script>

        <section class="childInfo">
            {% if selected_child  %}
            <article class="selectedChild">
                {% if selected_child.profile_picture %}
                <img class="selectedIcon" src="{{ selected_child.profile_picture.url }}"/>
                {% else %}
                <img class="selectedIcon" src="/static/images/default.jpg"/>
                {% endif %}
                <p class="selectedFirstName">{{selected_child.firstName}}</p>
                <p class="selectedLastName">{{selected_child.lastName}}</p>
                <p class="selectedAge">{{selected_child_years}} Years, {{selected_child_months}} Months</p>
                <p class="selectedShareCodeText">Code :</p>
                <p class="selectedShareCode">{{ selected_child.shareCode }}</p>
            </article>
            {% else %}
            {% endif %}
            <article class="selectChild" data_isChildSelected="{% if selected_child  %}true{% else %}false{% endif %}">
                <ul class="listChild">
                {% for child in children%}
                    {% if selected_child and child.id == selected_child.id%}
                    <li class="listItemChild" id="listItemChildSelected">
                    {% else %}
                    <li class="listItemChild">
                    {% endif %}
                        {% if child.profile_picture %}
                        <img class="iconChild" src="{{ child.profile_picture.url }}"/>
                        {% else %}
                        <img class="iconChild" src="/static/images/default.jpg"/>
                        {% endif %}
                        <p class="nameChild"> {{ child.firstName }} </p>
                        <p class="nameChild"> {{ child.lastName }} </p>
                        {% if selected_child and child.id == selected_child.id%}
                        <a class="selectButtonChild" href="{% url 'deselect_child' %}"><i class="fa-solid fa-x"></i></a>
                        {% else %}
                        <a class="selectButtonChild" href="{% url 'select_child' child.id%}"><i class="fa-solid fa-check"></i></a>
                        {% endif %}
                {% empty %}
                {% endfor %}
                <ul class="children-list">
            </article>
            <a class="importChild" href="{% url 'addChild' %}">Import</a>
            <a class="createChild" href="{% url 'createChild' %}">Create</a>
        </section>
        {% else %}
        <script>
            window.isAuthenticated = false;
        </script>
        {% endif %}
    </main>

    <footer data_isAuthenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
        <section class="about">
            {% if user.is_authenticated %}
            <p class="aboutText">Graphs are dynamically generated based on your child Data !!</p>
            {% else %}
            <p class="aboutText">Viewing Example Data</p>
            {% endif %}
        </section>
        {% if user.is_authenticated %}
        <section class="export">
            <p class="exportText">Export to PDF</p>
            <a class="exportButton" href="{% url 'pdf_children_all' %}" download><i class="fa-solid fa-file-arrow-down"></i></a>
        </section>
        {% else %}
        {% endif %}
    </footer>
{%endblock bodyExtra %}