{% extends "base-sidebar.html" %}
{% load static %}

{% block headExtra %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <title>Home</title>
{% endblock headExtra %}

{% block bodyExtra %}
    <section class="section-top">
    </section>

    <section class="section-main">
        <article class="recent-updates">
        </article>
    </section>

    <section class="section-right">
        <p class="user-name">{{ user.username|default:"Login" }}</p>
        <img class="user-icon" src="https://randomuser.me/api/portraits/men/38.jpg"/>
        <ul class="list-children">
            <li class="list-child">
            </li>
            <li class="list-child">
            </li>
            <li class="list-child">
            </li>
            <li class="list-child">
            </li>
            <li class="list-child">
            </li>

        </ul>
    </section>

    <section class ="section-bottom">

    </section>
{%endblock bodyExtra %}