{% extends "base.html" %}

{% block headerExtra %}
{% endblock headerExtra %}


{% block bodyExtra %}
    Hello, {{ user.username|default:"Guest" }}!
    <hr />
    {% if user.is_authenticated %}
        {% include "registration/_logout.html" %}
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'sign_up' %}">Sign up</a>
    {% endif %}

    <a href="{% url 'home' %}">Home</a>
{% endblock bodyExtra %}