{% extends "base.html" %}
{% load static %}

{% block headExtra %}
    <link rel="stylesheet" href="{% static 'css/shared.css' %}" type="text/css">
    <title>Login</title>
{% endblock headExtra %}

{% block bodyExtra %}
    <main>
        <img class="pageLogo" src="{% static 'icons/LogoHeavy.svg' %}" alt="logo"/>
        <h2>Login</h2>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Login" placeholder="Username"/>
            <input type="hidden" name="next" value="{% url 'dashboard' %}" />
        </form>
        <a class="button" href="{% url 'dashboard' %}">Dashboard</a>
    </main>
{% endblock bodyExtra %}