{% extends "base.html" %}
{% load static %}

{% block headExtra %}
    <link rel="stylesheet" href="{% static 'css/pw_change.css' %}" type="text/css">
    <title>Change Password</title>
{% endblock headExtra %}

{% block bodyExtra %}
    <main>
        <img class="pageLogo" src="{% static 'icons/LogoHeavy.svg' %}" alt="logo"/>
        <h2>Change password</h2>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Change" />
        </form>
        <a class="button" href="{% url 'dashboard' %}">Dashboard</a>
    </main>
{% endblock bodyExtra %}