{% extends "base.html" %}
{% load static %}

{% block headExtra %}
    <link rel="stylesheet" href="{% static 'css/newLogin.css' %}" type="text/css">
    <title>Sign Up</title>
{% endblock headExtra %}

{% block bodyExtra %}
    <main>
        <img class="pageLogo" src="{% static 'icons/LogoHeavy.svg' %}" alt="logo"/>
        <h2>Sign Up</h2>
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button class="button" type="submit">Sign Up</button>
        </form>
        <a class="button" href="{% url 'dashboard' %}">Dashboard</a>
    </main>
{% endblock bodyExtra %}