body { 

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 

    margin: 0; /*make sure that there is no clipping areas make everything look clean */

    padding: 0; 

    background: linear-gradient(to bottom right, #a8a9ad, #b4b5b8, #c0c0c3, #cbcccd, #d7d7d8, #e3e3e3); /* 
this is for the packground with a silver gadient to match other groups design scheme	*/ 

} 

  

/* this is for the navigation bar */ 

.navbar { 

    background-color: #a8a9ad; /* silver navigation bar background */ 

    color: black; /*text*/

    padding: 5px; 

    text-align: center; 

    display: flex; 

    justify-content: space-around; /*spread the buttons evenly across the nav bar. */

} 

  

/* for the input boxes */ 

.input-container { 

    display: flex; 

    flex-direction: column; 

    align-items: center; 

    margin: 20px; /*space around each container*/

} 

  

/* for the input boxes*/ 

input[type="number"], input[type="text"] { 

    padding: 10px; 

    margin: 5px; 

    width: 80%; 

    border: 3px solid #a8a9ad; /* silver area */ 

    border-radius: 5px; 

    box-sizing: border-box; 

} 

  

/* Button styles */ 

button { 

    background-color: #78a2cc; /* button colour */ 

    color: white; /* text */

    padding: 10px 20px; 

    border: none; 

    border-radius: 5px; 

    cursor: pointer; 

    margin-top: 10px; 

    transition: background-color 0.3s; /* when hovering or the button how long it should take to change colour*/

} 

  

button:hover { 

    background-color: #88aed0; /* the colour when hovering over the button */ 

} 

  

/* Graph container styles */ 

.graph-container { 

    margin: 20px; 

    display: flex; 

    justify-content: center; 

} 


/*this is for the tbale */
 table {
	 width: 50%;
	 border-collapse: collapse;
	 background-color: white;
	 border-radius: 3px;
	 overflow: hidden; /*hide anything that overflows to make look clean */
	 
 }	 

/* Rthis is so that the website will work with mobile screens */ 

@media (max-width: 380px) { 

    .input-container { 

        width: 100%; 
		padding: 0 10px;

    } 

    input[type="number"], input[type="text"] { 

        width: 100%;
        margin: 5px 0;		

    } 

} 