#title{
    color: rgb(100, 100, 100);
    font-family: consolas;
    font-size:40px;
    text-align: center;
}

#containerButtonRight{
    position: fixed;
    bottom: 32px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
}

#profilePic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Removes underlines for links */

    width: 30px; /* Adjust the size of the button */
    height: 30px;
    border-radius: 10px; /* Keeps the button circular */
    border: 2px solid;
    color: black;
    background-color: lightgray;
    border-color: gray;

    margin-bottom:10px;
}
#stats-quick{
    position: fixed;
    bottom: 50%;
    left:0;
    height:32px;
    background-color:red;
    width:100%;
    text-align: center;
}

/* Make buttons scale based on their position */
#stats-quick:nth-child(1) {
    transform: scale(0.6);
}

#stats-quick:nth-child(2) {
    transform: scale(0.8);
}

#containerButtonLeft{
    position: fixed;
    bottom: 32px;
    left: 10px;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
}

/* Style for the buttons */
#buttonLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Removes underlines for links */

    width: 30px; /* Adjust the size of the button */
    height: 30px;
    border-radius: 10px; /* Keeps the button circular */
    border: 2px solid;
    color: black;
    background-color: lightgray;
    border-color: gray;

    margin-bottom:10px;
}

#nav-food{
    color:rgb(10, 210, 255);
    background-color:rgb(10, 210, 255);
}
#nav-diaper{
    color:rgb(41, 98, 255);
    background-color:rgb(41, 98, 255);
}
#nav-medication{
    color:rgb(149, 0, 255);;
    background-color:rgb(149, 0, 255);
}
#nav-home{
    color:rgb(255, 0, 89);
    background-color:rgb(255, 0, 89);
}
#nav-growth{
    color:rgb(255, 140, 0);
    background-color:rgb(255, 140, 0);
}
#nav-sleep{
    color:rgb(180, 230, 0);
    background-color:rgb(180, 230, 0);
}
#nav-emotion{
    color:rgb(15, 255, 219);
    background-color:rgb(15, 255, 219);
}

#nav-menu {
    position: fixed;
    bottom: 0;
    left:0;
    height:32px;
    background-color:lightgray;
    width:100%;
    text-align: center;
}


#nav-menu .inactiveNav,
#nav-menu .activeNav {
    display: inline-block;
    width: 40px;
    padding: 5px 1vw;
    margin: 0px 0.5vw;

    text-decoration: none; /* Removes underlines for links */
    border: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* transition: color 1s, background-color 1s, padding 3; */
    transition-property: padding, margin;
    transition-duration: 0.2s, 0.2s;
}

#nav-menu .activeNav {
    color: white;
    border-color: rgb(50,50,50);
}
#nav-menu .inactiveNav{
    background-color: white;
    border-color: rgb(150,150,150);
}

#nav-menu .inactiveNav:hover,
#nav-menu .activeNav:hover {
    padding: 5px 2vw;
    margin: 0px -0.5vw;
}





