
#title{
    color: var(--color-shade-2);
    font-size:40px;
    text-align: center;
}

#login {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-shade-2);
    padding: 5px;

    border-radius: 6px;
    background-color: var(--color-shade-4);

    display: inline-flex;
    justify-content: center;

    min-width: 100px;
}

#login::before {
    content: "Not you?";
}

#login:hover::before {
    animation: fade-sequence-forwards 0.5s forwards;
}

#login:not(:hover)::before{
    animation: fade-sequence-backwards 0.5s forwards;
}


@keyframes fade-sequence-forwards {
    30%{opacity:0;}
    50%{content: "Login";}
    80%{opacity: 1;}
    100%{content: "Login";}
}
@keyframes fade-sequence-backwards {
    0%{opacity:0;}
    50%{content: "Not you?";}
    80%{opacity: 1;}
    100%{content: "Not you?";}
}


#containerButtons {
    position:absolute;
    bottom:40px;
    right: 10px;

    display: flex;
    flex-direction: column;
    width: min-content;

    border-radius: 10px;
    padding:10px;
    
    color: var(--color-shade-1);
    background-color: var(--color-shade-4);

    align-items: center;
    justify-content: space-between;
    gap:5px;
    
}
#childName{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 30px;
    
    border-radius: 10px;
    border: 2px solid;

    color: var(--color-shade-1);
    background-color: var(--color-shade-5);
    border-color: var(--color-shade-3);
}

#profilePic {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid;
    
    color: var(--color-shade-1);
    background-color: var(--color-shade-5);
    border-color: var(--color-shade-3);

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    transition-duration: 0.2s;
}

#bottomButtons {
    display: flex;
    gap: 10px; 
}

#bottomButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    
    color: var(--color-shade-1);
    background-color: var(--color-shade-5);
    border-color: var(--color-shade-3);

    transition-duration: 0.2s;
}

#bottomButton:hover,#profilePic:hover{
    scale: 110%;
}





