:root {
    --color-food: rgb(10, 210, 255);
    --color-diaper: rgb(41, 98, 255);
    --color-medication: rgb(149, 0, 255);;
    --color-home: rgb(255, 0, 89);
    --color-growth: rgb(255, 140, 0);
    --color-sleep: rgb(180, 230, 0);
    --color-emotion: rgb(15, 255, 219);

    --color-shade-1: rgb(50,50,50);
    --color-shade-2: rgb(100,100,100);
    --color-shade-3: rgb(200,200,200);
    --color-shade-4: rgb(256,256,256);


    --color-shade-1: rgb(50,50,50);
    --color-shade-2: rgb(100,100,100);
    --color-shade-3: rgb(200,200,200);
    --color-shade-4: rgb(256,256,256);
}

#food{
    color:var(--color-food);
    background-color:var(--color-food);

}
#diaper{
    color:var(--color-diaper);
    background-color:var(--color-diaper);
}
#medication{
    color:var(--color-medication);
    background-color:var(--color-medication);
}
#home{
    color:var(--color-home);
    background-color:var(--color-home);
}
#growth{
    color:var(--color-growth);
    background-color:var(--color-growth);
}
#sleep{
    color:var(--color-sleep);
    background-color:var(--color-sleep);
}
#emotion{
    color:var(--color-emotion);
    background-color:var(--color-emotion);
}

#menu {
    position: fixed;
    bottom: 0;
    left:0;
    height:32px;
    background-color:var(--color-shade-3);
    width:100%;
    text-align: center;
}


#menu .navOthers,
#menu .navActive {
    display: inline-block;
    width: 40px;
    padding: 5px 1vw;
    margin: 0px 0.5vw;

    text-decoration: none;
    border: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    transition-property: padding, margin;
    transition-duration: 0.2s;
}

#menu .navActive {
    color: var(--color-shade-4);
    border-color: var(--color-shade-1);
}
#menu .navOthers{
    background-color: var(--color-shade-4);
    border-color: rgb(150,150,150);
}

#menu .navOthers:hover,
#menu .navActive:hover {
    padding: 5px 2vw;
    margin: 0px -0.5vw;
}
