{% extends "base-sidebar.html" %}
{% load static %}

{% block headExtra %}
    <link rel="stylesheet" href="{% static 'css/food.css' %}" type="text/css">
    <title>Food</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock headExtra %}

{% block bodyExtra %}
    <header>
        <h1>Food Traker</h1>
    </header>

    <form method="post">
        {% csrf_token %}
        <h2>Meal Entry</h2>
        
        <label for="meal-time">Meal Time:</label>
        <input type="datetime-local" name="meal_time" required>
    
        <label for="type">Meal Type:</label>
        <select name="type">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="snack">Snack</option>
        </select>
    
        <label for="calories">Calories:</label>
        <input type="number" name="calories" min="0" required>
    
        <button type="submit">Submit Meal</button>
    </form>
    
    <h2>Submitted Meals</h2>
        <table>
            <thead>
                <tr>
                    <th>Meal Time</th>
                    <th>Type</th>
                    <th>Calories</th>
                </tr>
            </thead>
            <tbody>
                {% for meal in meals %}
                <tr>
                    <td>{{ meal.timeEvent }}</td>
                    <td>{{ meal.get_type_display }}</td>
                    <td>{{ meal.calories }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="3">No meals logged yet.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    
    <h3>Calories Chart</h3>
    <canvas id="caloriesChart"></canvas>
        
    <script>
        var chartData = JSON.parse('{{ chart_data|safe }}');

        var ctx = document.getElementById('caloriesChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: chartData.labels,
                datasets: [{
                    label: 'Calories',
                    data: chartData.calories,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    
{%endblock bodyExtra %}